# Values in this section are accessible to all the different stages.
# They can be overridden by individual stages though.
global:
    # This is read by many stages that read complete
    # catalog data, and tells them how many rows to read
    # at once
    

# Here's the list of stages we are using:
# Destripe
# PSFSplit
# BuildLayers
# ImcomInitial
# Imsubtract
# ImcomFinal
# GenerateOutputs


Destripe:
    DS_model: ["constant", 4088]
    DS_obsfile: "/fs/scratch/PCON0003/cond0007/temp_kl/t_"
    DS_outputs: ["/fs/scratch/PCON0003/klaliotis/imdestripe/mosaic_test_v3/", "_ds_out.txt"]
    CG_model: ["PR", 12, 1e-3]
    DS_cost: ["quadratic", 0, 0]
    
PSFSplit:
    option: setting

BuildLayers:
    option: setting
    
ImcomInitial:
    option: setting

Imsubtract:
    option: setting

ImcomFinal:
    option: setting

GenerateOutputs:
    option: setting
